html , body{
    margin: 0px;
    background: #EFECE7
}

.wrap {
    width: 1440px;
    margin: 0px auto;
}
.header {
    /* background: #e7eeea; */
    padding: 5px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 2px solid black;
    background: #fff;
}
.header h3{
    font-size: 26px;
    color: #000400;
    text-align: center;
    font-family: "Paytone One";
    font-weight: normal;
    letter-spacing: 0px;
}
.title {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 250px;
}
.title span {
    color: #000400;
    font-size: 16px;
    border-bottom: 1px solid black;
    margin-left: 5px;
}
.title a:hover {
    color: #f24;
}
.avatar {
    background-image: url('../../static/user.png');
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover ;
    opacity: 1;
    width: 30px;
    height: 30px;
   
}
.content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    margin-top: 49px;
}


.sidebar{
    width: 309px;
    height: 336px;
    margin-left: 27px;
    background: #FFF;
    border: 2px solid #000400;
    opacity: 1; 
}
.sidebar .ant-btn{
    width: 261px;
    height: 50px;
    margin: 10px auto;
    border-radius: 8px;
    opacity: 1;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
}
.sidebar .add-btn{
    display: block;
    margin-left: 24px !important;
    margin-right: 24px !important;
    margin-top: 32px !important;
    margin-bottom: 24px !important;
    text-align: center !important;
    background: #03438D;
    box-shadow: -2px 2px 0px #000400;
    border: 2px solid #000400;
    border-radius: 8px;
    opacity: 1;
}
.sidebar-func{
    display: block;
    border: 1px solid #000400;
}
.icon{
    border-radius: 50% 50% 50% 50%;
    border: 1px solid #000400;
    width: 45px;
    height: 45px;
    background: #E2EDFA
}
.icon svg{
    width: 35px;
    height: 35px;
    text-align: center;
}

